{% extends '::calendar.html.twig' %}
{% block title_wrapper %}Calendario{% endblock %}
{% block main %}
    <div class="calendar_layout">{% include 'ADesignsCalendarBundle::calendar.html.twig' %}</div>
    <div class="clear"></div>
{% endblock %}
{% block warning %}{% endblock %}