{% extends '::layout_graph.html.twig' %}


{% block content_title %}Identificación de especies{% endblock %}
{% block main %}
    <h2 class="hr2 blog-post-title text-center">Identifica la especie de pez</h2>
    <div class="">
        A continuación aparecerán una serie de claves dicotómicas que deberás resolver
    </div>
    {% block identify %}
    {% endblock %}
{% endblock %}
{% block left_content %}
{% endblock %}
