{% extends '::layout_list.html.twig' %}
{% block title_wrapper %}Cálculos de consumo de huevos{% endblock %}
{% block main %}
    <div class="panel panel-default">
        {% set length = feed_purchases|length-2 %}

        {% for i in length..0 %}
            {% set last_hens_feed_purchase=feed_purchases[i+1] %}
            {% set last_but_one_hens_feed_purchase=feed_purchases[i] %}
            {{ render(controller('AppBundle:Statistic:hensFeed',{'last_hens_feed_purchase':last_hens_feed_purchase,'last_but_one_hens_feed_purchase':last_but_one_hens_feed_purchase})) }}
        {% endfor %}

    </div>
{% endblock %}