{% extends 'base.html.twig' %}

{% block title %}New PartnerEggShare{% endblock %}

{% block body %}
    <h1>Create new PartnerEggShare</h1>

    {{ include('partner_egg_share/_form.html.twig') }}

    <a href="{{ path('partner_egg_share_index') }}">back to list</a>
{% endblock %}
