{% extends 'base_front.html.twig' %}

{% block title %}Blog · CSA Vega de Jarama{% endblock %}

{% block content %}
    <section class="container py-5">
        {% block container %}{% endblock %}
    </section>
{% endblock %}
